/* ============================================= */
/* Variable Declarations */
/* ============================================= */

// create at least 5 color variables


  /* ============================================= */
  /*          Typography Color Variables           */
  /* ============================================= */
  
    $headline-primary-color: #58e1c1;

    $headline-secondary-color: #777;

    $link-color: #51ddfc;

  /* ============================================= */
  /*          Button Color Variables               */
  /* ============================================= */

    $button-default-bckgrnd: #51ddfc;

    $button-error-bckgrnd: #e4757a;

    $button-info-bckgrnd: #927bc1;

    $button-success-bckgrnd: #63cc82;

    $button-warning-bckgrnd: #fd7856;

    $button-color: #fff;




  /* ============================================= */
  /*          Media Query Variables                */
  /* ============================================= */

  // create >= 1 media breakpoint variable

  $min-media-width: 768px;