/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $button-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $button-default-bckgrnd;
  }
  
  .error {
    background-color: $button-error-bckgrnd;
  }
  
  .info {
    background-color: $button-info-bckgrnd;
  }
  
  .success {
    background-color: $button-success-bckgrnd;
  }
  
  .warning {
    background-color: $button-warning-bckgrnd;
  }
  